<!DOCTYPE html>
<html>
    <head>
        <title>Events</title>
        <link rel="icon" href="img/date.png ">

    </head>

    <body bgcolor="Black" style="color:white">

        <center>
        <h1>Upcoming Events 📅</h1>
        <p>Event 1,2,3</p>
        </center>
        <hr>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus dignissimos maxime quisquam corrupti nostrum assumenda officiis similique ab est veniam aliquam fugiat labore alias, velit quas possimus laboriosam tempore commodi voluptate debitis aspernatur quos dolorem vero libero? Molestiae facilis voluptate dolore temporibus voluptas animi recusandae corrupti reprehenderit in tempore ipsa possimus eligendi voluptatem ipsam repudiandae sapiente, expedita, saepe non. Quia fuga nostrum nemo? Esse fugit ex laudantium ad odit quam, temporibus non voluptatibus dolorum sequi dignissimos et. Ea expedita iusto temporibus maxime, officiis magnam sed reprehenderit officia accusamus quidem quas alias eum doloremque ex voluptatum dolores earum natus minima deserunt?
        </p>
        
        <center>
        <img src="img/event1.png">
        <h1>Photo Gallery</h1>
        <h2>No Entry Fee</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus earum praesentium nostrum sapiente fuga incidunt, rem odit quia nesciunt excepturi veritatis quo aperiam nihil facere temporibus deserunt fugiat adipisci deleniti quis assumenda aliquam asperiores cumque reiciendis molestiae. Nulla quibusdam, ut autem officia dolorem quam nihil minima mollitia expedita labore pariatur.</p>
        </center>

        <center>
        <img src="img/event2.png">
        <h1>
            <a href="https://www.flipkart.com/">Fashion Store</a>
        </h1>
        </center>
        <hr>

        <center>
        <h1>Contact</h1>
        <h2>+91 123456789 | abc@gmail.com</h2>
        <p>T nagar,Chennai</p>
        </center>

    </body>

</html>
